.psm-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.psm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    width: 58%;
    height: 60%;
    border: 1px solid #1C1C1C;

    box-shadow: -10px 23px 133px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -10px 23px 133px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 23px 133px -17px rgba(0, 0, 0, 0.75);
}

/* TABS */

.psm-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--gray);
    width: 30%;
    border-radius: 0.8rem;
}

.psm-tabs button {
    width: 100%;
    border: none;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--gray-light);
    border-radius: inherit;
}

.psm-tabs .active {
    background-color: var(--purple);
    color: var(--gray);
    font-weight: 500;
}

/* BUTTONS */

.psm-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.psm-buttons button {
    width: 10%;
    padding: 0.4rem 0.6rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: var(--gray-light);
    color: var(--black);
}

#psm-save {
    background-color: var(--purple);
}

#psm-end-auction-btn {
    white-space: nowrap;
    width: auto;
    background-color: var(--red);
    color: var(--red-light);
}

/* FORMS */

.psm-fixed-form {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.psm-form-field {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.4rem;
}

.psm-form-field label {
    font-size: 0.9rem;
    color: var(--gray-light);
}

.psm-form-field input,
.psm-currency-select {
    border: 1px solid var(--gray);
    outline: none;
    background-color: transparent;
    height: 2rem;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.psm-form-field:has(.psm-currency-select) {
    width: 5rem;
}

.psm-auction-form {
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1.8rem;
}

.psm-auction-title {
    width: 100%;
    text-align: center;
}

.psm-auction-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;

}

.psm-auction-time .psm-form-field {
    width: 44%;
}

.psm-auction-time span {
    align-self: flex-end;
    margin-bottom: 0.5rem;
    color: var(--gray-light);
}