.artwork-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ap-image-container {
    position: relative;
    border-radius: 0 1rem 1rem 0;

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    --_artwork-background-color: var(--artwork-background-color, var(--black));
    background: var(--_artwork-background-color);
    background: radial-gradient(at center top, var(--_artwork-background-color), var(--black));
}

.ap-image-wrapper {
    position: relative;
    border-radius: 0.6rem;
}

.ap-image {
    width: 50vw;
    max-height: 80vh;
    margin: 2rem;
    object-fit: cover;
    border-radius: 0.6rem;
}

.ap-replace-image-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(28, 28, 28, 0.1);
    color: var(--black);
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    z-index: 10;
    margin: 2rem;
}

.ap-image-wrapper:hover .ap-replace-image-overlay {
    display: flex;
}

.ap-image-placeholder {
    height: 80vh;
}

.ap-upload-image {
    height: 80vh;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    cursor: pointer;
    color: var(--black);
    position: relative;
}

.ap-upload-image:hover {
    background-color: var(--gray-light);
}

.ap-file-input-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.ap-image-container:has(.ap-upload-image) {
    background-color: transparent;
}

.ap-info {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 6rem 6rem 6rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--black);
}

.ap-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ap-info-header-right-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.ap-info-header-icon {
    color: var(--gray-light);
    cursor: pointer;
    font-size: 1.2rem;
}

.ap-info-header-icon:hover {
    color: var(--white);
}

#ap-liked-artwork-icon {
    color: var(--red);
}

.ap-on-sale {
    border: 1px solid var(--purple);
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    color: var(--purple);
    border-radius: 0.15rem;
    white-space: nowrap;
}

.ap-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-light);
}

.ap-details-label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: var(--gray);
}

.ap-details-text {
    font-size: 0.9rem;
}

.ap-user-info {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
}

.ap-user-profile-picture {
    width: 1.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--gray-light);
}

.ap-info-edit-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.6rem;
}

.ap-info-edit-btns button {
    width: 18%;
    padding: 0.4rem 0.6rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.2rem;
}

.ap-cancel-edit-btn {
    background-color: var(--gray-light);
}

.ap-cancel-edit-btn:hover {
    background-color: var(--white);
}

.ap-save-edit-btn {
    background-color: var(--purple);
}

.ap-text-editor {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0;
    margin-left: -1rem;
    margin-top: 0.2rem;
}

.ap-title {
    max-width: 60%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.ap-title-editing {
    font-size: 2rem;
    font-weight: bold;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    width: 60%;
    box-sizing: border-box;
    resize: vertical;
    min-height: fit-content;
}

.ap-title-editing:focus {
    outline: none;
}

/* Color changing */
.ap-change-color-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 0 1rem 1rem 2rem;

    position: absolute;
    bottom: -1rem;
    left: 1rem;
}

.ap-color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ap-color-picker::-webkit-color-swatch {
    border-radius: 0.2rem;
    border: none;
}

.ap-color-picker::-moz-color-swatch {
    border-radius: 0.2rem;
    border: none;
}

.ap-color-btn {
    background-color: var(--gray-light);
    color: var(--gray-lighter);
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}