.dock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 30vw; */
    /* For 5 icons */
    width: 36vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    margin: 1.6rem auto;
    padding: 0.6rem 2rem;
    border-radius: 0.6rem;
    background: rgba(8, 6, 14, 0.85);
    -webkit-backdrop-filter: blur(33px);
    backdrop-filter: blur(33px);
    border: 1px solid rgba(8, 6, 14, 0.425);

    -webkit-box-shadow: 1px 0 9.5px -1px #3d3d3d;
    -moz-box-shadow: 1px 0 9.5px -1px #3d3d3d;
    box-shadow: 1px 0 9.5px -1px #3d3d3d;
}

.dock a,
#search-icon,
#notifications-icon {
    color: var(--white);
    display: flex;
    font-size: 1.2rem;
}

#search-icon,
#notifications-icon {
    cursor: pointer;
}