.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    padding: 0 5rem;
    gap: 4rem;
    background-color: var(--purple-light);
    color: var(--black);
}

.login-placeholder {
    height: 90%;
    width: 100%;
    background: radial-gradient(circle at 50% 50%, #08060e, #3c21ba, rgba(172, 163, 255, 1));
    border-radius: 1rem;
}

#login-forgot-password {
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--gray-light);
    width: fit-content;
    align-self: flex-end;
}

#login-forgot-password:hover {
    text-decoration: underline;
    color: var(--black);
}

#login-go-to-signup {
    margin: 0.8rem 0 0.4rem 0;
    font-size: 0.8rem;
    color: var(--gray-light);
}

#login-go-to-signup a {
    color: var(--black);
}

#login-go-to-signup a:hover {
    color: var(--cyan);
}

/* LOGIN ERROR MESSAGE */
.login-error {
    width: 100%;
    padding: 0.2rem;
    background-color: var(--red-light);
    color: var(--red);
    border-radius: 0.4rem;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
}