.navbar {
    --navbar-bg-color: var(--gray-lighter);
    --navbar-text-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    margin: 1.6rem auto;
    padding: 0.6rem 2rem;
    border-radius: 1rem;
}

.navbar-links a {
    color: var(--navbar-text-color);
    text-decoration: none;
}

.navbar-links a:hover {
    color: var(--purple);
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-btn {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar-btn:hover {
    background-color: var(--purple);
    color: var(--black);
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.navbar-logo img {
    width: 1.4rem;
    height: 1.4rem;
}