.profile-page {
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    color: var(--white);
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
}

.profile-divider {
    height: 94vh;
    align-self: center;
    margin: 0 2rem;
    border: solid 1px var(--black-highlight);
    border-radius: 2px;
}

.profile-content-container {
    padding: 4rem 2rem 4rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.profile-tabs {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.profile-tab {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--gray-light);
    color: var(--white);
    font-weight: 500;
}

.profile-tab:hover,
.profile-tab.active {
    background-color: var(--purple);
    color: var(--black);
    font-weight: bold;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-content:not(.active) {
    display: none;
}

.profile-content:has(.profile-content-text.not-found) {
    height: 100%;
}

.profile-content-text.not-found {
    color: var(--gray-light);
    width: 100%;
    text-align: center;
}

.biography-editing-button {
    background-color: var(--gray-light);
    color: var(--black);
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 0.8rem;
    width: fit-content;
}

.biography-editing-button:hover {
    background-color: var(--cyan);
}

.biography-buttons-container {
    display: flex;
    justify-content: end;
    margin-top: 0.4rem;
    margin-right: 1rem;
    gap: 0.5rem;
}

#biography-save-button,
#biography-cancel-button {
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    border-radius: 0.2rem;
    width: 10%;
}

#biography-save-button {
    background-color: var(--purple);
}

#biography-cancel-button:hover {
    background-color: var(--gray-light);
}

.profile-content-biography {
    height: 100%;
}

.biography-container {
    position: relative;
}

.biography-edit-icon {
    display: none;
    color: var(--gray-light);
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.biography-container:hover .biography-edit-icon {
    display: block;
}

.skeleton {
    display: inline-block;
    background-color: var(--black-highlight);
    border-radius: 0.4rem;
}

.skeleton-text {
    height: 1em;
}

.profile-artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    justify-items: center;
    height: 100%;
    box-sizing: border-box;
}