.city-sc-container {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 0.2rem 0.2rem 0.2rem 0;
    cursor: pointer;
    border-radius: 0.6rem;
    gap: 1rem;
}

.city-sc-container:hover {
    background-color: #1C1C1C;
}

.city-sc-icon-container {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(30, 144, 255);
}

.city-sc-details {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}